<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto p-6 sm:p-10">
    <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl p-4 overflow-auto">
      <button mat-raised-button (click)="showDialog()"
      class="custom-button bg-blue-500 text-white px-6 py-3 rounded-2xl font-semibold shadow-md flex items-center gap-2 transition-all duration-300 ease-in-out hover:bg-blue-600 hover:shadow-lg hover:scale-105 active:bg-blue-700 active:scale-95 group">
      <mat-icon class="text-lg text-red-500 group-hover:text-red-600 transition-all duration-300 heartbeat">
        favorite
      </mat-icon>
      Của chị Vân Anh
</button>

    
        <table mat-table [dataSource]="dataSource" class="w-full bg-white rounded-xl shadow-md">
  
          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef class="p-2 bg-gray-200 text-gray-800">
              {{ column }}
            </th>
            <td mat-cell *matCellDef="let element" class="p-2 text-center">
                <!-- Nếu là cột nhập ngày giờ -->
                <ng-container *ngIf="column === 'Bắt đầu dồn cắt' || column === 'Kết thúc cắt nối'; else textCell">
                  <input type="datetime-local" class="border p-1 rounded-md text-sm"
                         [(ngModel)]="element[column]" 
                         (change)="updateDate(element, column, $event.target.value)">
                </ng-container>
              
                <!-- Nếu là cột hiển thị giá trị khác -->
                <ng-template #textCell>
                  {{ element[column] }}
                </ng-template>
              </td>
              
          </ng-container>
  
          <thead>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-gray-100 text-gray-800"></tr>
          </thead>
          <tbody>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-50"></tr>
          </tbody>
        </table>
      </div>
  </div>
</div>



